{
    "ignore": ["**/*.d.ts"],
    "presets": ["@babel/preset-typescript", "@babel/preset-env", "transform-ui5"],
    "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-proposal-nullish-coalescing-operator"]
}
