{
    "ignore": ["**/*.d.ts"],
    "presets": ["transform-ui5", "@babel/preset-typescript", "@babel/preset-env"],
    "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-proposal-nullish-coalescing-operator"]
}
