.deveposQdrtToggleableSideContent {
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    white-space: nowrap;

    &>.deveposQdrtToggleableSideContentContent,
    &>.deveposQdrtToggleableSideContentSideContent {
        white-space: normal;
        display: inline-block;
        vertical-align: top;
        height: 100%;
    }

    &>.deveposQdrtToggleableSideContentContent {}

    &>.deveposQdrtToggleableSideContentSideContent {}
}